html {
    height: 100%;
    width: 100%;
}
body{
    background-color: indigo;
}
.navbar{
    background-color: purple;
    border: 5px;
    border-style: ridge;
    border-color: darkblue;
    display: flex;
    justify-content: space-evenly;
  
}

.navbar ul {
    list-style: none;
  }
  
  /* Style rule set for individual li */
  .navbar ul li {
    float: left;
    margin: 10px;
  }
  
  
  /* Style rule set for individual li link */
  .navbar ul li a {
    font-family: Arial;
    color:black;
    font-size: 16px;
    text-decoration: none;
  }
  
  /* Style rule set for hovered link */
  .navbar ul li a:hover {
    font-weight: bold;
    color: blue;
  }
.container {
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
    padding: 15px;
}
#photo-span{
    text-align: center;
    border-style: groove;
    padding: 5px;
}
#photo-span p{
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}
#info-span ol{
    list-style: none;
    border-style: dotted;
    padding: 5px;
}
#intro-span{
    width: 670px;
    height: fit-content;
}
#me{
    width: 130px;
    height: 150px;
}
#discription-list{
    list-style: circle;
    
}
.Experience-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
}
.Experience-container ul, ol{
    list-style: none;
    padding: 5px;
}
.Experience-container{
    text-align: center;
}
.tech-projects a{
    color:red;
}
