body{
    background-color: royalblue;
}
 
article,.myinfo{
    position: relative;
    display: flex;
}
article{
    background-color: pink;
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.boxs{
    margin: 5px;
}
.work,.techSkill{
    list-style: circle;
}
img{
    width: 150px;
    border-radius: 25%;
}
ul{
    list-style: none;
    font-style: italic;
    font-size: large;
}
button{
    background-color: crimson;
    border-radius: 25%;
    color: blue;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
